// variables

// Colors
$DarkViolet: hsl(256, 26%, 20%);
$GrayishBlue: hsl(216, 30%, 68%);
$VeryDarkViolet: hsl(270, 9%, 17%);
$DarkGrayishViolet: hsl(273, 4%, 51%);
$VeryLightGray: hsl(0, 0%, 98%);


// Fonts
/* Headings: Weights: 400 */
$Headings : 'DM Serif Display', serif;
/* Body: Weights: 400, 700 */
$Body : 'Karla', sans-serif;


$font-med   : 1rem; //16px
$font-sm    : 0.75rem; //12px
$font-lg    : 3rem; //32px

$font-w-sm  : 200;
$font-w-md  : 400;
$font-w-lg  : 700;


// breakpoints variables
$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);
$screen-xlg-min: 1400px;
$screen-lg-max: ($screen-xlg-min - 1);
