// imports (Fonts)
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');


// variables

// Colors
$DarkViolet: hsl(256, 26%, 20%);
$GrayishBlue: hsl(216, 30%, 68%);
$VeryDarkViolet: hsl(270, 9%, 17%);
$DarkGrayishViolet: hsl(273, 4%, 51%);
$VeryLightGray: hsl(0, 0%, 98%);

// Fonts
/* Headings: Weights: 400 */
$Headings : 'DM Serif Display', serif;
/* Body: Weights: 400, 700 */
$Body : 'Karla', sans-serif;


/* css global */
html{
    font-size: 100%;
    box-sizing: border-box;
}
*, *::after, *::before{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $Body;
    font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $Body;
}

